<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendor: </title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/media.css">
    <link rel="stylesheet" href="../public/css/waves.css">
    <link rel="icon" href="../public/img/img/OBJECT.png">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/js/jquery-3.5.1.js"></script>
</head>
<body>
    <div class="_resPage">
        <div class="breadCrum">
            <ul>
                <li>Home</li>
                <li>></li>
                <li>Vendors</li>
                <li>></li>
                <li>Chapel restaurants</li>
            </ul>
        </div>

        <main>
            <div class="_res-content">
                <div class="video-container">
                    <div class="video">
                        <span class="star"></span>
                        <div class="text">
                            <h2>Chapters Canteen</h2>
                            <ul>
                                <li>
                                    <i></i>
                                    15 - 45 Mins
                                </li>
                                <li>
                                    N300.00 Min delivery
                                </li>
                                <li>
                                    <i></i>
                                    5.0
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <div class="dishes">
                            <ul>
                                <li>Local Dish</li>
                                <li>International Dish</li>
                                <li>Family Meal</li>
                                <li>Drinks</li>
                                <li>NN</li>
                            </ul>
                        </div>
                        <div class="contact">
                            <ul>
                                <li>
                                    <i></i>
                                    07047392723, 090292384746
                                </li>
                                <li>
                                    <i></i>
                                    Restaurantsname@gmail.com
                                </li>
                            </ul>
                        </div>
                        <div class="location">
                            <ul>
                                <li>
                                    <i></i>
                                    Block B, Room 2, Futascoop, FUTA, Akure
                                </li>
                                <li onclick="document.querySelector('.bodyBack').style.display = 'block';document.querySelector('.More').style.display = 'block'">
                                    MORE INFO
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="bodyBack"></div>
                <div class="More">
                    <div class="delete" onclick="{{document.querySelector('.More').style.display = 'none';document.querySelector('.bodyBack').style.display = 'none'}}">
                        <i>X</i>
                    </div>
                    <div class="header">
                        <h3>Chapters Canteen</h3>
                    </div>
                    <div class="options">
                        <ul>
                            <li onclick="SPA('page-1')">Info</li>
                            <li onclick="SPA('page-2')">Gallery</li>
                            <li onclick="SPA('page-3')">Reviews</li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="page-1">
                            <div class="map">
                                <p>GET DIRECTION</p>
                            </div>
                            <div class="delivery-hours">
                                    <p>Monday<span>09:00 - 11:00</span></p>
                                    <p>Tuesday <span>09:00 - 11:00</span></p>
                                    <p>Wednesday<span>09:00 - 11:00</span></p>
                                    <p>Thursday<span>09:00 - 11:00</span></p>
                                    <p>Friday<span>09:00 - 11:00</span></p>
                                    <p>Saturday<span>09:00 - 11:00</span></p>
                            </div>
                            <p class="note">Please note: the vendor may be open before and 
                                after the Taste Clan Restaurant hours: 09:00 - 24:00</p>
                            <div class="about">
                                <h4>ABOUT THE VENDOR</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nobis esse molestiae minus possimus temporibus natus, quos necessitatibus harum architecto id iste cumque rerum ea quisquam repellat vel dolor libero.</p>
                            </div>
                        </div>
                        <div class="page-2">

                        </div>
                        <div class="page-3">

                        </div>
                    </div>
                </div>

                <div class="pages-section">
                    <div class="page-bar">
                        <ul>
                            <li>Bar Menu</li>
                            <li>Main Dish</li>
                            <li>Appetizers & Desserts</li>
                            <li>Sides & Grills</li>
                            <li>Fast Food</li>
                            <li>Soups</li>
                        </ul>
                    </div>
<hr>
                    <div class="pages-container">
                        <div class="page-1">
                            <h2>Bar Menu</h2>
                            <div class="barMenu-container">
                                <div class="barMenu box">
                                    <div class="header">
                                        <h5>Vegetable Noodles & Fries</h5>
                                        <p>Served with chicken and vegetables</p>

                                    </div>
                                    <div class="footer">
                                        <span>ADD TO CART</span>
                                        <div class="price">
                                            <h4>PRICE: <br> N1,000</h4>
                                        </div>
                                    </div>
                                    <div class="img">
                                        <img src="../public/img/img/Food IMG.png" alt="">
                                    </div>
                                </div>
                                <div class="barMenu box">
                                    <div class="header">
                                        <h5>Vegetable Noodles & Fries</h5>
                                        <p>Served with chicken and vegetables</p>

                                    </div>
                                    <div class="footer">
                                        <span>ADD TO CART</span>
                                        <div class="price">
                                            <h4>PRICE: <br> N1,000</h4>
                                        </div>
                                    </div>
                                    <div class="img">
                                        <img src="../public/img/img/Food IMG.png" alt="">
                                    </div>
                                </div>
                                <div class="barMenu box">
                                    <div class="header">
                                        <h5>Vegetable Noodles & Fries</h5>
                                        <p>Served with chicken and vegetables</p>

                                    </div>
                                    <div class="footer">
                                        <span>ADD TO CART</span>
                                        <div class="price">
                                            <h4>PRICE: <br> N1,000</h4>
                                        </div>
                                    </div>
                                    <div class="img">
                                        <img src="../public/img/img/Food IMG.png" alt="">
                                    </div>
                                </div>
                                <div class="barMenu box">
                                    <div class="header">
                                        <h5>Vegetable Noodles & Fries</h5>
                                        <p>Served with chicken and vegetables</p>

                                    </div>
                                    <div class="footer">
                                        <span>ADD TO CART</span>
                                        <div class="price">
                                            <h4>PRICE: <br> N1,000</h4>
                                        </div>
                                    </div>
                                    <div class="img">
                                        <img src="../public/img/img/Food IMG.png" alt="">
                                    </div>
                                </div>
                                <div class="barMenu box">
                                    <div class="header">
                                        <h5>Vegetable Noodles & Fries</h5>
                                        <p>Served with chicken and vegetables</p>

                                    </div>
                                    <div class="footer">
                                        <span>ADD TO CART</span>
                                        <div class="price">
                                            <h4>PRICE: <br> N1,000</h4>
                                        </div>
                                    </div>
                                    <div class="img">
                                        <img src="../public/img/img/Food IMG.png" alt="">
                                    </div>
                                </div>
                                <div class="barMenu box">
                                    <div class="header">
                                        <h5>Vegetable Noodles & Fries</h5>
                                        <p>Served with chicken and vegetables</p>

                                    </div>
                                    <div class="footer">
                                        <span>ADD TO CART</span>
                                        <div class="price">
                                            <h4>PRICE: <br> N1,000</h4>
                                        </div>
                                    </div>
                                    <div class="img">
                                        <img src="../public/img/img/Food IMG.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
    <script src="../public/js/index.js"></script>
    <script src="../public/js/main.js"></script>
</html>