<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About TasteClan </title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/media.css">
    <link rel="stylesheet" href="../public/css/waves.css">
    <link rel="icon" href="../public/img/img/OBJECT.png">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/js/jquery-3.5.1.js"></script>
    
</head>
<body>

<div class="aboutPage">

    <div class="mpages">
        <ul>
            <li>Home</li>
            <li>Vendors</li>
            <li>Blog</li>
            <li>About us</li>
            <li>Contact</li>
        </ul>
    </div>
    <header>
        <div class="logo">
            <sup><img src="../public/img/img/OBJECT.png" alt="Tc logo"></sup>
            <p>TasteClan</p>                
        </div>
        <div class="hamburger">
           <ul>
               <li></li>
               <li></li>
               <li></li>
           </ul>
        </div>
        <div class="wpages">
            <ul>
                <li>Home</li>
                <li>Vendors</li>
                <li>Blog</li>
                <li>About us</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="search">
            <img src="../public/img/icons/Search.png" alt="">
            <input type="text" name="search" id="search" placeholder="search Meal...">
        </div>
        <div class="sign-log">
            <ul>
                <li class="login">Login</li>
                <li class="signup"> <span>Sign Up</span></li>
            </ul>
         
        </div>
    </header>
    <main>
        <div class="aboutusMain">

            <div class="extras abtextra-1">
                <img src="../public/img/img/cfjkd 1.png" alt="" srcset="">
            </div>

            <section>
                <div class="aboutSection">
                    <div class="aboutusContent">
                        <h2>About Us</h2>
                        <h1>Sub Text</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam impedit quia corporis voluptatum blanditiis quae ratione voluptatem dolorem quam possimus! Eaque, ipsa? <br><br> Pariatur, temporibus! Dolor architecto nostrum minima illo. Recusandae?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident perferendis dolores mollitia reiciendis deleniti natus veniam culpa nemo. Sequi tempora ab non voluptates fugit repellat asperiores ipsam atque sit molestias!
                            Ad consectetur alias excepturi debitis est inventore, dolorem, quis sint eligendi ipsum omnis autem! Harum minima blanditiis reprehenderit eum est commodi velit voluptates, repellat aut praesentium pariatur voluptatem fugit hic.
                        </p>
                    </div>
                    <div class="extras abtextra-2">
                        <img src="../public/img/img/Layer 13@1 1.png" alt="">
                    </div>
                    <div class="abtsectionimg">
                        <img src="../public/img/img/Image Text.png" alt="">       
                    </div>
                    <div class="extras abtextra-5">
                        <img src="../public/img/img/Layer 14@1.5x.png" alt="">
                    </div>
                </div>
            </section>


            <div class="extras platforms">
                <img src="../public/img/img/006-amazon-logo.png" alt="">
                <img src="../public/img/img/012-verisign-logo.png" alt="">
                <img src="../public/img/img/022-webmoney-paying-logo.png" alt="">
                <img src="../public/img/img/026-american-express-logo.png" alt="">
                <img src="../public/img/img/037-ukash-logo.png" alt="">
                <img src="../public/img/img/045-paymate-logo.png" alt="">
                <img src="../public/img/img/047-master-card-logo.png" alt="">
                <img src="../public/img/img/050-worldpay-logo.png" alt="">
                <img src="../public/img/img/055-payoneer-logo.png" alt="">
                <img src="../public/img/img/056-bbb-better-business-bureau-logo-with-a-flame.png" alt="">
                <img src="../public/img/img/061-stripe-logo.png" alt="">
                <img src="../public/img/img/062-paypal-logo.png" alt="">
            </div>


            <div class="extras abtextra-3">
                <img src="../public/img/img/o8fnbbsf1nl96ak6uiqpblfr0c 1.png" alt="">
            </div>

            <div class="svg">
                <div class="custom-shape-divider-top-1634610468">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill-abt1"></path>
                    </svg>
                </div>
            </div>
            <div class="extras abtextra-4">
                <img src="../public/img/img/Layer 11@1.5x.png" alt="">
            </div>
            <section>
                <div class="ourStorySection">
                    <div class="header">
                        <h2>Our Story</h2>
                    </div>
                    <div class="ourStory-Content">
                        <div class="videos-container">
                            <img src="../public/img/img/edgar-castrejon-1SPu0KT-Ejg-unsplash 1.png" alt="">
                            <img src="../public/img/img/standing-person-using-fork-and-knife-on-preparing-food-2814828 1.png" alt="">
                            <img src="../public/img/img/blur-breakfast-chef-cooking-262978 1.png" alt="">
                            <img src="../public/img/img/man-in-white-dress-shirt-wearing-eyeglasses-3814446 1.png" alt="">                           
                        </div>                            
                        <div class="line">
                            <img src="../public/img/img/Group 108.png" alt="">
                        </div>
                        <div class="text-container">
                            <div class="text">
                                <h2>Ideas</h2>
                                <p>It all started from a single idea. We wanted to create a place that would <br>
                                    offer its customers easy ordering and deliver of their favorite dishes.
                                </p>
                            </div>
                            <div class="text">
                                <h2>Develop</h2>
                                <p>The website was designed and develope in order to help student get their <br>
                                    food easily. It took months and pain to get the site up. United we stand!
                                </p>
                            </div>
                            <div class="text">
                                <h2>Opening</h2>
                                <p>After making necessary preparations, completing our staff with <br>
                                    experieced people, we were ready fro new guests and clients. <br> #TasteClan
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="svg">
                <div class="custom-shape-divider-top-1634610468">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill-abt2"></path>
                    </svg>
                </div>
            </div>


            <section>
                <div class="howToOrderSection">
                    <div class="text-container">
                        <div class="text-box">
                            <h3>Search</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi deserunt mollitia inventore accusantium soluta reiciendis</p>
                        </div>
                        <div class="text-box">
                            <h3>Order & Check Out</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi deserunt mollitia inventore accusantium soluta reiciendis</p>
                        </div>
                        <div class="text-box">
                            <h3>Delivery & Enjoy</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi deserunt mollitia inventore accusantium soluta reiciendis</p>
                        </div>
                    </div>
                    <div class="img">
                        <img src="../public/img/img/fast-food-french-fries-hamburger-junk-food-mcdonald-s-big-mac-junk-food-531e90bafa3634e4434a98ac39076514.png" alt="">
                    </div>
                    <div class="howto">
                        <h2>How to Order</h2>
                        <h1>There are 3 step to get your yummy and delicious meal</h1>
                        <video src="../public/video/2008-01-01 03-01-06.mkv" controls></video>
                    </div>
                </div>
            </section>

            <section>
                <div class="services">
                    <div class="ser ser-1">
                        <img src="../public/img/icons/calendar.png" alt="services icons">
                        <h2>800</h2>
                        <h5>ORDERS RECEIVED</h5>
                    </div>
                    <div class="ser ser-2">
                        <img src="../public/img/icons/take-away.png" alt="services icons">
                        <h2>633</h2>
                        <h5>FOOD DELIVERED</h5>
                    </div>
                    <div class="ser ser-3">
                        <img src="../public/img/icons/Group.png" alt="services icons">
                        <h2>1000</h2>
                        <h5>CLIENTS EVERYDAY</h5>
                    </div>
                    <div class="ser ser-4">
                        <img src="../public/img/icons/customer-satisfaction.png" alt="services icons">
                        <h2>3050</h2>
                        <h5>HAPPY CUSTOMERS</h5>
                    </div>
                    <div class="ser ser-5">
                        <img src="../public/img/icons/Group (1).png" alt="services icons">
                        <h2>200</h2>
                        <h5>CITIES</h5>
                    </div>
                </div>
                <div class="extras abtextra-6">
                    <img src="../public/img/img/pngkey.com-plate-of-food-png-547669.png" alt="">
                </div>

                <div class="ourTeam">
                    <img src="../public/img/img/Team.png" alt="">
                </div>
            </section>

            <div class="extras abtextra-7">
                <img src="../public/img/img/whhys.png" alt="">
            </div>
            <section>
                <div class="ourTeamSection">
                    <div class="ourTeam-container">
                        <h3>Our Support Team will assist you with any question</h3>
                        <div class="ourTeamServicesOptions">
                            <div class="ourTeam-box">
                                <h4>Email</h4>
                                <p>info.tasteclan@gmail.com</p>
                            </div>
                            <div class="ourTeam-box">
                                <h4>Need Expert</h4>
                                <p>Get a quote</p>
                            </div>
                            <div class="ourTeam-box">
                                <h4>Telephone</h4>
                                <p>+234 812 3849 340</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="extras abtextra-8">
                <img src="../public/img/img/pasta-bolognese-sauce-italian-cuisine-lasagne-wine-wine-f18db469c8aff8c8b2843a5fe9398039.png" alt="">
            </div>

        </div>
    </main>

        
</div>
</body>
<script src="../public/js/index.js"></script>
</html>