<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/media.css">
    <link rel="stylesheet" href="../public/css/waves.css">
    <link rel="icon" href="../public/img/img/OBJECT.png">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/js/jquery-3.5.1.js"></script>
</head>
<body>
    <div class="BlogPage">

        <div class="blogPage-header">
            <div class="title">
                <h4>Blog</h4>
                <h2>Sub-Text</h2>
            </div>
            <div class="options">
                <ul>
                    <li>All</li>
                    <li>Featured</li>
                    <li>Popular</li>
                    <li>Foods</li>
                    <li>Recipes</li>
                    <li>Covid-19</li>
                </ul>
            </div>
            <div class="search">
                <i></i>
                <input type="text" name="" id="" placeholder="search item">
            </div>
        </div>

        <main>
            <div class="extras blogextra-1">
                <img src="../public/img/vector/Group 62.png" alt="">
            </div>

        <div class="main-content">
        <div class="recent-popular-featured-Container">

            <section>
            <div class="recent-section">
                <!-- Recent Section -->
                <div class="recent">
                    <h3>MOST RECENT</h3>
                    <div class="rimg img">
                        <span>Feastured</span>
                        <span>Food</span>
                    </div>
                    <div class="content">
                        <div class="date"><p>FED 10, 2021</p></div> 
                        <h2>There are 3 steps to get your yummy and delicious meal</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, velit. Maiores eius, rem quos cupiditate delectus dolore optio quia magnam ex iusto non et cumque vitae numquam unde temporibus molestias.</p>
                    </div>
                    <span class="readMore">READ MORE ↪  </span>
                </div>
                <div class="recent-others">
                    <div class="recent-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="recent-post-2 post">
                        <div class="img">
                            <span></span>
                            <span>Recipes</span>
                        </div>
      
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                </div>
                                    
            </div>
            </section>
            
            <aside>
                <!-- Featured Section -->
                <div class="featured-section">
                    <div class="header">
                        <h3>Featured</h3>
                    </div>
                    <div class="featured-post-1 mini-post">
                        <div class="mini-img">
                            <span>Featured</span>
                            <span>Food</span>
                        </div>
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummmy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa provident sapiente sit voluptatem aut blanditiis. Facilis aspernatur consequuntur delectus. Quam voluptas vitae nostrum ratione consect</p>
                            <span class="readMore">READ MORE ↪ </span>
                        </div>
                        
                    </div>
                    <div class="featured-post-2 mini-post">
                        <div class="mini-img">
                            <span>Featured</span>
                            <span>Food</span>
                        </div>
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummmy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa provident sapiente sit voluptatem aut blanditiis. Facilis aspernatur consequuntur delectus. Quam voluptas vitae nostrum ratione consect</p>
                            <span class="readMore">READ MORE ↪ </span>
                        </div>
                        
                    </div>
                    <div class="featured-post-3 mini-post">
                        <div class="mini-img">
                            <span>Featured</span>
                            <span>Food</span>
                        </div>
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummmy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa provident sapiente sit voluptatem aut blanditiis. Facilis aspernatur consequuntur delectus. Quam voluptas vitae nostrum ratione consect</p>
                            <span class="readMore">READ MORE ↪ </span>
                        </div>
                    </div>
                </div>

                <!-- Popular Section -->
                <div class="Popular-section">
                    <div class="header">
                        <h3>Popular</h3>
                    </div>
                    <div class="Popular-post-1 mini-post">
                        <div class="mini-img">
                            <span>Popular</span>
                            <span>Food</span>
                        </div>
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummmy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa provident sapiente sit voluptatem aut blanditiis. Facilis aspernatur consequuntur delectus. Quam voluptas vitae nostrum ratione consect</p>
                            <span class="readMore">READ MORE ↪ </span>
                        </div>
                       
                    </div>
                    <div class="Popular-post-2 mini-post">
                        <div class="mini-img">
                            <span>Popular</span>
                            <span>Food</span>
                        </div>
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummmy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa provident sapiente sit voluptatem aut blanditiis. Facilis aspernatur consequuntur delectus. Quam voluptas vitae nostrum ratione consect</p>
                            <span class="readMore">READ MORE ↪ </span>
                        </div>

                    </div>
                    <div class="Popular-post-3 mini-post">
                        <div class="mini-img">
                            <span>Popular</span>
                            <span>Food</span>
                        </div>
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummmy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa provident sapiente sit voluptatem aut blanditiis. Facilis aspernatur consequuntur delectus. Quam voluptas vitae nostrum ratione consect</p>
                            <span class="readMore">READ MORE ↪ </span>
                        </div>
                    </div>
                </div>
            </aside>
                        
        </div>

<hr> 
            <section>
                <!-- Food Section -->
                <section>
                    <div class="header">
                        <h3>Food</h3>
                    </div>
                <div class="Food-section">
                    <div class="food-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="food-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="food-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="food-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="food-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="food-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="food-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="food-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                </div>
                                    
            </section>
            <div class="extras blogextra-2">
                <img src="../public/img/vector/Group 63.png" alt="">
            </div>
<hr>
                <!-- Recipes Section -->
                <section>
                    <div class="header">
                        <h3>Recipes</h3>
                    </div>
                <div class="Recipes-section">
                    <div class="recipes-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="recipes-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="recipes-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="recipes-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="recipes-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="recipes-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="recipes-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                    <div class="recipes-post-1 post">
                        <div class="img">
                            <span></span>
                            <span>Covid-19</span>
                        </div>            
                        <div class="post-content">
                            <div class="date">12 FEB, 2021</div>
                            <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                        </div>
                        <span class="readMore">READ MORE ↪  </span>
                    </div>
                </div>
                                    
            </section>
            <div class="extras blogextra-3">
                <img src="../public/img/vector/Group 83.png" alt="">
            </div>

<hr>
                <!-- Covid-19 section -->
                <section>
                    <div class="header">
                        <h3>Covid-19</h3>
                    </div>
                    <div class="Covid-section">
                        <div class="covid-post-1 post">
                            <div class="img">
                                <span></span>
                                <span>Covid-19</span>
                            </div>            
                            <div class="post-content">
                                <div class="date">12 FEB, 2021</div>
                                <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                            </div>
                            <span class="readMore">READ MORE ↪  </span>
                        </div>
                        <div class="covid-post-1 post">
                            <div class="img">
                                <span></span>
                                <span>Covid-19</span>
                            </div>            
                            <div class="post-content">
                                <div class="date">12 FEB, 2021</div>
                                <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                            </div>
                            <span class="readMore">READ MORE ↪  </span>
                        </div>
                        <div class="covid-post-1 post">
                            <div class="img">
                                <span></span>
                                <span>Covid-19</span>
                            </div>            
                            <div class="post-content">
                                <div class="date">12 FEB, 2021</div>
                                <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                            </div>
                            <span class="readMore">READ MORE ↪  </span>
                        </div>
                        <div class="covid-post-1 post">
                            <div class="img">
                                <span></span>
                                <span>Covid-19</span>
                            </div>            
                            <div class="post-content">
                                <div class="date">12 FEB, 2021</div>
                                <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                            </div>
                            <span class="readMore">READ MORE ↪  </span>
                        </div>
                        <div class="covid-post-1 post">
                            <div class="img">
                                <span></span>
                                <span>Covid-19</span>
                            </div>            
                            <div class="post-content">
                                <div class="date">12 FEB, 2021</div>
                                <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                            </div>
                            <span class="readMore">READ MORE ↪  </span>
                        </div>
                        <div class="covid-post-1 post">
                            <div class="img">
                                <span></span>
                                <span>Covid-19</span>
                            </div>            
                            <div class="post-content">
                                <div class="date">12 FEB, 2021</div>
                                <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                            </div>
                            <span class="readMore">READ MORE ↪  </span>
                        </div>
                        <div class="covid-post-1 post">
                            <div class="img">
                                <span></span>
                                <span>Covid-19</span>
                            </div>            
                            <div class="post-content">
                                <div class="date">12 FEB, 2021</div>
                                <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                            </div>
                            <span class="readMore">READ MORE ↪  </span>
                        </div>
                        <div class="covid-post-1 post">
                            <div class="img">
                                <span></span>
                                <span>Covid-19</span>
                            </div>            
                            <div class="post-content">
                                <div class="date">12 FEB, 2021</div>
                                <h3>There are 3 steps to get your yummy and delicious meal.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ducimus numquam vero at dicta id quod placeat explicabo blanditiis. Ab quas officia amet aperiam, quo libero quos asperiores eum!</p>
                            </div>
                            <span class="readMore">READ MORE ↪  </span>
                        </div>
                    </div>
                </section>
            </section>
                            
        </div>
        </main>
    </div>
</body>
</html>