<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/media.css">
    <link rel="stylesheet" href="../public/css/waves.css">
    <link rel="icon" href="../public/img/img/OBJECT.png">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/js/jquery-3.5.1.js"></script>
</head>
<body>
    <div class="FAQ-Page">
        <div class="breadCrum">
            <ul>
                <li>Home</li>
                <li>></li>
                <li>F.A.Q</li>
            </ul>
        </div>
        <br>
        <header>
        <div class="header">
            <h3>Privacy</h3>
            <h1>Frequently Asked Questions</h1>
        </div>             
    </header>

        <div class="FAQ-content">

            <div class="extras faq-extras-1">
                <img src="../public/img/img/PngItem_851842.png" alt="">
            </div>
            <div class="search">
                <input type="text" placeholder="Enter your search terms">
                <button>SEARCH</button>
            </div>

            <main>
                <div class="browse-header">
                    <h3>Or Browse categories</h3>
                </div>
                <div class="browse-options">
                    <div class="assist browse-box">
                        <img src="../public/img/icons/headphone 1.png" alt="">
                        <h3>Assistance</h3>
                        <p>Having a problem usng a feature? A bug? Get some help</p>
                    </div>
                    <div class="user browse-box">
                        <img src="../public/img/icons/guide 1.png" alt="">
                        <h3>User Guides</h3>
                        <p>Having a problem usng a feature? A bug? Get some help</p>
                    </div>
                    <div class="developer browse-box">
                        <img src="../public/img/icons/setting.png" alt="">
                        <h3>Developers</h3>
                        <p>Having a problem usng a feature? A bug? Get some help</p>
                    </div>
                </div>

                <div class="extras faq-extras-2">
                    <img src="../public/img/img/kisspng-indian-cuisine-vegetarian-cuisine-dipping-sauce-ju-aperitivos-salsa-5bd1935eea6738 1.png" alt="">
                </div>
                <div class="line">

                </div>
                <div class="extras faq-extras-3">
                    <img src="../public/img/img/img42.png" alt="">
                </div>

                <div class="quick-answers">
                    <div class="quick-header">
                        <h3>Quick Answer</h3>
                        <p>All you need to know about Food Delivery and our Services.</p>
                    </div>
                    <div class="quick-answer-1 answer">
                        <i onclick="collapseExpand('quick-answer-1')">+</i>
                        <h4>What if something is wrong with my order?</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                             odit sapiente eum explicabo, atque voluptas accusamus voluptatibus
                              excepturi fuga, non provident perferendis eos aperiam dolorem dolores 
                            sequi delectus, fugit reiciendis.</p>
                    </div>
                    <div class="quick-answer-1 answer">
                        <i onclick="Cupoon('ma')">+</i>
                        <h4>What if something is wrong with my order?</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                             odit sapiente eum explicabo, atque voluptas accusamus voluptatibus
                              excepturi fuga, non provident perferendis eos aperiam dolorem dolores 
                            sequi delectus, fugit reiciendis.</p>
                    </div>
                    <div class="quick-answer-1 answer">
                        <i>+</i>
                        <h4>What if something is wrong with my order?</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                             odit sapiente eum explicabo, atque voluptas accusamus voluptatibus
                              excepturi fuga, non provident perferendis eos aperiam dolorem dolores 
                            sequi delectus, fugit reiciendis.</p>
                    </div>
                    <div class="quick-answer-1 answer">
                        <i>+</i>
                        <h4>What if something is wrong with my order?</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                             odit sapiente eum explicabo, atque voluptas accusamus voluptatibus
                              excepturi fuga, non provident perferendis eos aperiam dolorem dolores 
                            sequi delectus, fugit reiciendis.</p>
                    </div>
                    <div class="quick-answer-1 answer">
                        <i>+</i>
                        <h4>What if something is wrong with my order?</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                             odit sapiente eum explicabo, atque voluptas accusamus voluptatibus
                              excepturi fuga, non provident perferendis eos aperiam dolorem dolores 
                            sequi delectus, fugit reiciendis.</p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
<script src="../public/js/index.js"></script>
<script src="../public/js/main.js"></script>
</html>