<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partner with Us</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/media.css">
    <link rel="stylesheet" href="../public/css/waves.css">
    <link rel="icon" href="../public/img/img/OBJECT.png">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/js/jquery-3.5.1.js"></script>
</head>
<body>
<div class="extras patextra-1">
    <img src="../public/img/img/Daco_4919881.png" alt="">
</div>
<div class="partnerPage">
    <div class="header">
        <div class="mpages">
            <ul>
                <li>Home</li>
                <li>Vendors</li>
                <li>Blog</li>
                <li>About us</li>
                <li>Contact</li>
            </ul>
        </div>
    
        <header>
            <div class="logo">
                <sup><img src="../public/img/img/OBJECT.png" alt="Tc logo"></sup>
                <p>TasteClan</p>                
            </div>
            <div class="hamburger">
               <ul>
                   <li></li>
                   <li></li>
                   <li></li>
               </ul>
            </div>
            <div class="wpages">
                <ul>
                    <li>Home</li>
                    <li>Vendors</li>
                    <li>Blog</li>
                    <li>About us</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="search">
                <img src="../public/img/icons/Search.png" alt="">
                <input type="text" name="search" id="search" placeholder="search Meal...">
            </div>
            <div class="sign-log">
                <ul>
                    <li class="login">Login</li>
                    <li class="signup"> <span>Sign Up</span></li>
                </ul>
             
            </div>
        </header>
    </div>
    
        <div class="breadCrum">
            <ul>
                <li>Home</li>
                <li>></li>
                <li>Partner with us</li>
            </ul>
        </div>
        <div class="partner-container">
        <div class="texting">
            <div class="partner-header">
                <h2>Partner with us</h2>
            </div>
            <div class="partner-text">
                <h1>Vivamus arcu, facilisis at ut felis, erat blandit</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem, eius ipsam, fugit praesentium saepe quo ab consequatur, fuga cumque ipsum. Laborum aliquam nemo magnam corporis voluptate iusto quibusdam eligendi!</p>
            </div>
        </div>
            <div class="extras">
                <img src="../public/img/img/Layer 14@1.5x.png" alt="">
            </div>
            <div class="partner-box">
                <div class="forRestaurants">
                    <h3>For Restaurant</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores beatae quos vitae ut dignissimos nisi dolorum, nostrum explicabo perspiciatis consequuntur omnis optio eum accusantium? Magnam, ullam. Veniam consequuntur numquam dolorum!
                    </p><br>
                    <span>ADD RESTAURANTS</span>
                </div><br><hr><br>  
                <div class="forDrivers">
                    <h3>For Drivers</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia velit sint quibusdam expedita nesciunt? Consequatur quasi voluptatibus dolores neque est amet perspiciatis dolorum magni iure quia officiis, velit molestiae. Amet.</p>
                     <br><span>ADD DRIVER</span>
             </div>
            </div>
        </div>
    </div>

</body>
<script src="../public/js/index.js"></script>
</html>